.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .filter-container input[type="date"] {
    width: 150px;
  }
  
  .chart-wrapper {
    width: 100%;
    max-width: 800px; 
    margin-bottom: 20px;
  }
  


.no-charts-message {
  text-align: center;
  margin-top: 20px;
}